
        #top-right-button {
            position: fixed;
            top: -50px; /* Start off-screen */
            right: -50px; /* Start off-screen */
            background-color:  #2ecc71;;
            color: #fff;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
            transition: top 0.6s, right 0.5s, background-color 0.4s, color 0.3s;
        }

        #top-right-button:hover {
            background-color: #2980b9;
            color: #ecf0f1;
        }

        body.loaded #top-right-button {
            top: 20px; /* Bring it on-screen */
            right: 20px; /* Bring it on-screen */
        }
  
